%header.navbar.navbar-expand-sm.navbar-light.bg-light
  .container
    = link_to "AwesomeEvents", root_path, class: "navbar-brand mr-auto"
    %ul.navbar-nav
      %li.nav-item
        = link_to "イベントを作る", new_event_path, class: "nav-link"
      %li.navbar-item
        = link_to "ユーザー一覧を見る", list_user_informations_path, class: "nav-link"
      - if logged_in?
        %li.nav-item
          = link_to "退会", new_retirement_path, class: "nav-link"
        %li.nav-item
          = link_to "ログアウト", logout_path, class: "nav-link", method: :delete
      - else
        %li.nav-item
          = link_to "Githubでログイン", "/auth/github", class: "nav-link", method: :post
.container
  - if flash.notice
    .alert.alert-success
      = flash.notice
  - if flash.alert
    .alert.alert-danger
      = flash.alert
